
html {
    scroll-behavior:smooth;
    background-color: #FFE96D;
}

h2{
    color: #FFAA00;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h3{
    color: #FFAA00;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

li{
    list-style-type: none;
}


p{
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}

.logo{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FE9A00;
    overflow: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* Navigation links */
.navbar a {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFBF5D;
}




.container.full-width {
    width: auto;
}

a{
    right: 10px;
}

section {
    padding: 100px 0;
}


/* for fa icon (if needed) */
.fa {
    padding: 50px;
    font-size: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color:black;
}

/* for fa icon (if needed) */
.fa:hover {
    text-decoration: none;
    color: #FCA904;
}

#map{
    position: absolute;
    padding: 200px;
    top: 1200px;
    right:200px;
    left: 200px;
    width: 30%;
    align: center;

}
#menu {
    position: absolute;
    background: #FFBF5D;
    padding: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}
#marker {
    background-image: url('https://cdn.discordapp.com/attachments/769265620834320385/769614476693340160/Untitled_Artwork_1.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 1000px;
}