html {
  scroll-behavior: smooth;
  background-color: #ffe96d;
}

h2 {
  color: #ffaa00;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

h3 {
  color: #ffaa00;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

body {
  margin: 0;
}

p {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}

hr {
  margin: 15px auto 25px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 4px;
}

.logo {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fe9a00;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffbf5d;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.container.full-width {
  width: auto;
}

a {
  right: 10px;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

#about {
  height: 500px;
}

section {
  padding: 100px 0;
}

/* for fa icon (if needed) */
.fa {
  padding: 50px;
  font-size: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: black;
}

#map {
  position: absolute;
  padding: 200px;
  top: 1200px;
  right: 200px;
  left: 300px;
  width: 30%;
  align: center;
}
#menu {
  position: absolute;
  background: #ffbf5d;
  top: 1170px;
  padding: 20px;
  font-family: "Helvetica Neue", sans-serif;
}
#marker1 {
  background-image: url("https://github.com/aastha2468/spooknav/blob/main/images/Untitled_Artwork%20(1).png?raw=true");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#marker2 {
  background-image: url("https://github.com/aastha2468/spooknav/blob/main/images/Untitled_Artwork.png?raw=true");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#marker3 {
  background-image: url("https://github.com/aastha2468/spooknav/blob/main/images/Untitled_Artwork%20(2).png?raw=true");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 1000px;
}
