/* font- family style left blank, to be decided */

html {
    scroll-behavior:smooth;
    font-family: ' ';
}

body{
    margin: 0;
}


p{
    font-family: ' ';
    font-size: 16px;
}


hr {
    margin: 15px auto 25px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 4px;
}

.logo{
    width: 100vw;
    height: 100vh;
    position: relative;
}

li{
    margin: 10px 0;
}

#about{
    height: 500px;
}

#contact{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

section {
    padding: 65px 0;
}


/* for fa icon (if needed) */
.fa {
    padding: 50px;
    font-size: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color:black;
}

/* for fa icon (if needed) */
.fa:hover {
    text-decoration: none;
    color: #FCA904;
}